:root[data-theme="light"] {
  --card-bg: linear-gradient(120deg, #f6fafe 65%, #e3eef7 100%);
  --card-bg-hover: linear-gradient(118deg, #eef5fb 55%, #d2e4f5 100%);
  --card-shadow: 0 3px 18px 0 rgba(158,180,220,0.12), 0 8px 36px 0 #d0e2f833;
  --card-shadow-hover: 0 10px 38px 0 #b7cfeaa8, 0 4px 13px 0 #beddfb44;
  --card-border: #bfd4e5;
  --card-border-hover: #95bdde;
  --primary-text: #244d6c;
  --primary-label: #244d6c;
  --filter-label-checked: #2769c7;
  --filter-label-shadow: 0 0 4px #e9f7ffcc, 0 2px 8px #c9d8ff33;
  --nft-image-border: #bdd5ed;
  --nft-image-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  --title-color: #12314d;
  --title-shadow: 0 2px 10px #d0e2f766, 0 1px 1px #eef6ffab;
  --price-color: #23517a;
  --desc-color: #26364d;
  --nft-image-border: #fff;
  --header-bg: linear-gradient(120deg, rgba(224,234,247,0.94) 17%, rgba(197,213,233,0.92) 67%, rgba(182,203,226,0.97) 100%);
  --header-shadow: 0 4px 18px 0 rgba(114,142,178,0.10), 0 2px 16px #a7c0dc33;
  --header-border: #aecbeaaa;
  --header-gradient-before: linear-gradient(112deg,rgba(255,255,255,0.17) 9%,rgba(159,178,213,0.13) 87%);
  --header-link: #114577;
  --header-link-bg: linear-gradient(92deg,#e6f1fa 44%, #c2daf4 120%);
  --header-link-bg-active: linear-gradient(97deg, #d4e8f7 26%, #c0defa 110%);
  --header-link-bg-current: linear-gradient(91deg, #d4e8f7 17%, #c0defa 98%);
  --header-link-shadow: 0 7px 28px #b7cfe6d0;
  --header-link-current-shadow: 0 1px 8px 0 #aecbe688;
  --header-link-hover: #2360b2;
  --header-link-active: #144071;
  --header-link-focus: #175278;
  --header-link-border-hover: #96badd;
  --header-link-border-active: #aec5e0;
  --header-link-border: #1d4173;
  --header-list-link: #296093;
  --header-list-link-bg-hover: linear-gradient(97deg,#e4eef9 70%, #acd2f7 130%);
  --header-list-link-shadow-hover: 0 2px 10px #aacbe633;
  --header-list-link-border-focus: #96badd;
  --nft-card-bg: linear-gradient(120deg, #f5faff 84%, #e3e9f2 100%);
  --nft-card-border: #bdd5ed;
  --nft-card-shadow: 0 2px 22px 0 #c3ddfb23, 0 1.5px 11px #c5dafc13;
  --nft-card-shadow-hover: 0 4px 40px 0 #72b3f340, 0 0 10px #2360b29c;
  --nft-card-border-hover: #2360b2;
  --nft-card-bg-hover: linear-gradient(120deg, #e5f2ff 90%, #cbe0fa 120%);
  --nft-image-border: #bdd5ed;
  --nft-image-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  --nft-title: #1d3557;
  --nft-title-shadow: 0 2px 12px #e3eeff22;
  --nft-price: #2360b2;
  --dialog-bg: rgba(247, 250, 254, 0.88);
  --dialog-border: #b3cbeb;
  --dialog-shadow: 0 6px 28px 4px #628cbf69, 0 2px 12px #dadfe68f;
  --dialog-header-bg: linear-gradient(92deg,#6e91c9 16%,#c2d2ee 58%,#ffffff 100%);
  --dialog-header-color: #18355a;
  --dialog-header-border: #b5cae6;
  --dialog-header-shadow: 0 2px 8px #a9b8cc33;
  --dialog-section-color: #183555;
  --dialog-menu-border: #d0e0f1;
  --dialog-backdrop: rgba(41,61,92,0.34);
  --form-bg: rgba(255,255,255,0.90);
  --form-border: rgba(199, 213, 227, 0.57);
  --form-shadow: 0 4px 10px rgba(0, 28, 70, 0.07), 0 0 20px #d8eafe70;
  --form-label: #23517a;
  --form-label-shadow: 0 1px 6px #d1e3fa44;
  --form-control-color: #12314d;
  --form-input-bg: rgba(255,255,255,0.40);
  --form-input-color: #12314d;
  --form-input-border: rgba(173,216,230,0.50);
  --form-input-focus-border: #3d008d;
  --form-input-focus-bg: #f6f9ff;
  --form-input-focus-shadow: 0 0 0 3px #8ad8ff88, 0 2px 5px #eaf7ff19;
  --form-error-color: #b9283a;
  --nft-register-title: #122d45;
  --form-label: #1c3350;
  --form-label-checkbox: #244d6c;
  --form-label-checkbox-bg: linear-gradient(117deg, #f7fafc 80%, #e7f1fb 100%);
  --form-checkbox-checked: #2360b2;
  --form-checkbox-checked-bg: linear-gradient(95deg, #e4eef9 65%, #cbe0fa 130%);
  --form-checkbox-border: #a8c4df;
  --form-checkbox-bg: linear-gradient(140deg, #edf4fb 75%, #d0e0f1 100%);
  --form-checkbox-accent: #3578d4;
  --form-checkbox-focus: #2678e7;
  --form-checkbox-focus-shadow: #8ec0ff33;
  --form-input-border: #bdd5ed;
  --form-input-bg: linear-gradient(112deg, #f9fbfd 80%, #deebf7 100%);
  --form-input-color: #1e3556;
  --form-input-focus-bg: #f0f7ff;
  --form-input-focus-border: #2360b2;
  --form-input-focus-shadow: #b6d8fd33;
  --form-h3: #1b4578;
  --form-h3-shadow: 0 2px 8px #e3eeff44;
  --form-label-invalid: #c61132;
  --form-input-invalid: #c61132;
  --link-primary: #3e78a8;
}

:root[data-theme="dark"] {
  --card-bg: linear-gradient(120deg, #23293c 65%, #313c55 100%);
  --card-bg-hover: linear-gradient(120deg, #30384b 60%, #222a39 100%);
  --card-shadow: 0 3px 18px 0 rgba(30,40,60,0.33), 0 8px 38px 0 #1c223599;
  --card-shadow-hover: 0 10px 38px 0 #223154a8, 0 4px 13px 0 #2f405544;
  --card-border: #334965;
  --card-border-hover: #557ab1;
  --primary-text: #b5caf6;
  --primary-label: #91aacf;
  --filter-label-checked: #aac8f9;
  --filter-label-shadow: 0 0 4px #14314fcc, 0 2px 8px #12192e85;
  --nft-image-border: #20314e;
  --nft-image-shadow: 0 2px 14px #0b142055;
  --title-color: #d6eaff;
  --title-shadow: 0 2px 10px #1b253966, 0 1px 1px #0a1a2dab;
  --price-color: #79b3ff;
  --desc-color: #b9cadc;
  --nft-image-border: #fff;
  --header-bg: linear-gradient(120deg, rgba(16,28,43,0.93) 10%, rgba(24,36,52,0.97) 86%);
  --header-shadow: 0 4px 18px 0 rgba(24,44,74,0.30), 0 2px 16px #18283c33;
  --header-border: #21334a99;
  --header-gradient-before: linear-gradient(112deg,rgba(55,74,106,0.22) 8%,rgba(34,45,73,0.18) 88%);
  --header-link: #c6e2ff;
  --header-link-bg: linear-gradient(92deg,#1f2f44 47%, #213352 120%);
  --header-link-bg-active: linear-gradient(97deg, #233653 26%, #254074 100%);
  --header-link-bg-current: linear-gradient(91deg, #233653 17%, #233c66 98%);
  --header-link-shadow: 0 7px 28px #28386466;
  --header-link-current-shadow: 0 1px 8px 0 #10254aa7;
  --header-link-hover: #85c7ff;
  --header-link-active: #aad3ff;
  --header-link-focus: #7ab6fd;
  --header-link-border-hover: #2ca2ff;
  --header-link-border-active: #0561a2;
  --header-link-border: #23365a;
  --header-list-link: #a3c0e7;
  --header-list-link-bg-hover: linear-gradient(97deg,#27375c 70%, #1f355b 130%);
  --header-list-link-shadow-hover: 0 2px 10px #15355960;
  --header-list-link-border-focus: #369dfc;
  --nft-card-bg: linear-gradient(120deg, #1a2331 80%, #1d263c 100%);
  --nft-card-border: #254477;
  --nft-card-shadow: 0 2px 22px 0 #12234799, 0 1.5px 11px #11355c44;
  --nft-card-shadow-hover: 0 4px 40px 0 #179ae920, 0 0 10px #3dbaff44;
  --nft-card-border-hover: #179ae9;
  --nft-card-bg-hover: linear-gradient(120deg, #213250 90%, #2a426a 120%);
  --nft-image-border: #3964a1;
  --nft-image-shadow: 0 2px 12px rgba(10,18,40,0.17);
  --nft-title: #dfedff;
  --nft-title-shadow: 0 2px 12px #15316559;
  --nft-price: #54b0ff;
  --dialog-bg: rgba(22, 28, 40, 0.86);
  --dialog-border: #274366;
  --dialog-shadow: 0 6px 28px 4px #19396c73, 0 2px 12px #04214765;
  --dialog-header-bg: linear-gradient(92deg,#14395d 16%,#295184 58%,#232c47 100%);
  --dialog-header-color: #e6eeff;
  --dialog-header-border: #254477;
  --dialog-header-shadow: 0 2px 8px #263e724d;
  --dialog-section-color: #bed6fe;
  --dialog-menu-border: #2c4260;
  --dialog-backdrop: rgba(18,26,51,0.56);
  --form-bg: rgba(24,33,48,0.95);
  --form-border: rgba(54, 71, 98, 0.54);
  --form-shadow: 0 4px 16px rgba(13,41,93,0.17), 0 0 32px #23437644;
  --form-label: #93c8ff;
  --form-label-shadow: 0 1px 6px #0e223e66;
  --form-control-color: #bed6fe;
  --form-input-bg: rgba(29,49,75,0.48);
  --form-input-color: #d6e7ff;
  --form-input-border: #29519099;
  --form-input-focus-border: #84bbff;
  --form-input-focus-bg: #1d3147;
  --form-input-focus-shadow: 0 0 0 3px #3daeff33, 0 2px 5px #001e3e22;
  --form-error-color: #ff7796;
  --nft-register-title: #d6e7ff;
  --form-label: #b3caf7;
  --form-label-checkbox: #b3caf7;
  --form-label-checkbox-bg: linear-gradient(125deg, #182438 85%, #24344b 100%);
  --form-checkbox-checked: #88beff;
  --form-checkbox-checked-bg: linear-gradient(85deg, #273e5f 65%, #284c76 130%);
  --form-checkbox-border: #5689b7;
  --form-checkbox-bg: linear-gradient(120deg, #212d41 75%, #283a51 100%);
  --form-checkbox-accent: #4fa8fc;
  --form-checkbox-focus: #78c5ff;
  --form-checkbox-focus-shadow: #21538c33;
  --form-input-border: #29435f;
  --form-input-bg: linear-gradient(112deg, #232938 85%, #252f43 100%);
  --form-input-color: #dbeafe;
  --form-input-focus-bg: #27314d;
  --form-input-focus-border: #8bbfff;
  --form-input-focus-shadow: #79adfb33;
  --form-h3: #b3caf7;
  --form-h3-shadow: 0 2px 8px #21497877;
  --form-label-invalid: #ff4488;
  --form-input-invalid: #ff4488;
  --link-primary: #6483a8; 
  --h2-primary: #ced8e5;
}
